@use "sass:map";
@use "sass:list";

// body // 
body {
    width: 100%;
}

// valeurs de hauteurs //
$heights : 5,
7,
8,
10,
12,
15,
27,
30,
45,
48,
70,
80,
90,
105,
110,
150,
205;

// hauteurs en vh //
$height : 'h',
'height',
1vh,
$heights;

// valeurs de largeur //
$widths : 18,
20,
28,
30,
45,
50,
60,
70,
75,
80,
90,
94,
100;

// largeurs en % //
$width : 'w',
'width',
1%,
$widths;

// valeurs de largeurs images //
$widths-images : 4,
5,
8;

// largeurs images en vh //
$width-image : 'w-image',
'width',
1vh,
$widths-images;

// valeurs gaps verticaux //
$verticals-gaps : 3,
5,
10;

// gaps verticaux en vh //
$vertical-gap : 'vertical-gap',
'gap',
1vh,
$verticals-gaps;

// valeurs gaps horizontaux //
$horizontals-gaps : 3,
5;

// gaps horizontaux en % //
$horizontal-gap : 'horizontal-gap',
'gap',
1%,
$horizontals-gaps;

// valeurs espacements lettres //
$letters-spacings : ('small' : 1,
    'medium' : 2,
    'big' : 3,
    'huge' : 4);

// espacements de lettre en vw//
$letter-spacing : 'lspacing',
'letter-spacing',
0.1vw,
$letters-spacings;

// valeurs de tailles de polices //
$fonts-sizes : ('small' : 2,
    'medium' : 3,
    'big' : 4,
    'huge' : 5);

// tailles de polices en vh //
$font-size: 'fsize',
    'font-size',
    1vh,
    $fonts-sizes;

// valeurs distances gauche //
$lefts: 3,
    5,
    15,
    36;

// distances gauches en % //
$left: 'l',
    'left',
    1%,
    $lefts;

// valeurs distances haut //
$tops: -8,
    0,
    5,
    8,
    10,
    45,
    90,
    175;

// distances haut en vh //
$top: 't',
    'top',
    1vh,
    $tops;

// valeurs de courbures des bords //
$borders-radius : ('small' : 5,
    'medium' : 10,
    'big' : 50);

// courbures des bords en px //
$border-radius: 'border-rad',
    'border-radius',
    1px,
    $borders-radius;

// differents variations de couleurs //
$colors: (
    'dark-grey' : rgb(47, 51, 59),
    'light-grey' : #919499,
    'light-red' : rgb(233, 119, 112),
    'white' : white,
    'lighten-grey' : #ece8e8
);

// couleurs des textes //
$color: 'color',
    'color',
    0,
    $colors,
    '';

// couleurs des fonds //
$background-color: 'bcolor',
    'background-color',
    0,
    $colors,
    '';


// valeurs de blurs //
$blurs : ('medium' : '(10px)');

// blurs //
$blur : 'blur',
'filter',
1px,
$blurs,
'blur';

// url des images //
$images :('dark-forest' : "('https://cdn.wallpapersafari.com/70/57/lLvfYN.jpg')",
    'girl-eyes' : "('https://html5up.net/uploads/demos/escape-velocity/images/pic01.jpg')",
    'girl-shore' : "('https://html5up.net/uploads/demos/escape-velocity/images/pic02.jpg')",
    'girl-chair' : "('./pic03.jpg')",
    'universe' : "('./pic04.jpg')",
    'talk' : "('./text.png')");

// images en fond // 
$image : 'bimage',
'background-image',
0,
$images,
'url';

// valeurs des marges //
$margins : 0,
5;

// marges // 
$margin : 'margin',
'margin',
1%,
$margins;

// marges droites// 
$margin-right : 'rmargin',
'margin-right',
1%,
$margins;

// marges bas //
$margin-bot : 'bmargin',
'margin-bottom',
1vh,
$margins;

// valeurs de police gras // 
$bolds : ('small' : 6, 'medium' : 8, 'big' : 9);

// polices gras //
$bold : 'bold',
'font-weight',
100,
$bolds;

// differents styles d'ombres //
$shadows : ('medium' : (6px 0 4px -4px black,
        -6px 0 4px -4px black));

// styles d'ombres // 
$shadow : 'shadow',
'box-shadow',
0,
$shadows,
'';

// differentes polices // 
$polices : ('principale' : ('Source Sans Pro',
        sans-serif));

// polices //
$police: 'police',
    'font-family',
    0,
    $polices,
    '';

// valeurs de bordures //
$borders : 0,
1,
2,
6;

// bordures //
$border : 'border',
'border',
0.1vw,
$borders,
$colors;

// bordures en bas // 
$bborder : 'bborder',
'border-bottom',
0.1vh,
$borders,
$colors;

$liste-classes : $height,
$width,
$width-image,
$vertical-gap,
$letter-spacing,
$font-size,
$horizontal-gap,
$left,
$top,
$border-radius,
$color,
$background-color,
$blur,
$image,
$margin,
$margin-right,
$margin-bot,
$bold,
$shadow,
$police,
$border,
$bborder;

@each $classe in $liste-classes {
    $nom : list.nth($classe, 1);
    $attribut : list.nth($classe, 2);
    $unite : list.nth($classe, 3);
    $valeurs : list.nth($classe, 4);

    @if ((type-of($valeurs)==list) and ((length($classe))==4)) {
        @for $i from 1 to (length($valeurs) + 1) {
            $nom-complet : ('.' + $nom + '-' + (nth($valeurs, $i)));

            #{$nom-complet} {
                #{$attribut}: ((nth($valeurs, $i)) *$unite);
            }
        }
    }

    @else if ((type-of($valeurs)==map) and ((length($classe))==4)) {

        @each $appelation,
        $valeur in $valeurs {
            $nom-complet : ('.' + $nom + '-' + $appelation);

            #{$nom-complet} {
                #{$attribut}: ($valeur *$unite);
            }
        }
    }

    @else if ((type-of($valeurs)==map) and ((length($classe))==5)) {

        @each $appelation,
        $valeur in $valeurs {
            $nom-complet : ('.' + $nom + '-' + $appelation);

            #{$nom-complet} {
                #{$attribut}: unquote(list.nth($classe, 5)) + ($valeur);
            }
        }
    }

    @else if ((type-of($valeurs)==list) and ((length($classe))==5)) {
        @for $i from 1 to (length($valeurs) + 1) {

            @each $nom-couleur,
            $valeur-couleur in (nth($classe, 5)) {
                $nom-complet : ('.' + $nom + '-' + $nom-couleur + '-' + (nth($valeurs, $i)));

                #{$nom-complet} {
                    #{$attribut}: ((nth($valeurs, $i)) *$unite) solid $valeur-couleur;
                }
            }
        }
    }
}

// taille du fond //
.back-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.back-cont {
    background-size: contain;
    background-repeat: no-repeat;
}

// position relative //
.pos-relative {
    position: relative;
}

// position absolute //
.pos-absolute {
    position: absolute;
}

// Differents display flex //
.flex-col-centrer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-ligne-centrer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-ligne-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.flex-ligne-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.flex-col-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.flex-col-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

@media screen and (max-width : 600px) {
    body {
        width: 100vw;
    }

    .m-accueil {
        height: 35vh;
    }

    .m-textes-accueil {
        height: 35vh;
    }

    .m-titre-accueil {
        font-size: 2vh;
    }

    .m-description-accueil {
        font-size: 1.5vh;
        width: 80%;
        text-align: center;
    }

    .m-etiquette {
        width: 60%;
        left: 20%;
        height: 5vh;
        top: -4vh;
    }

    .m-etiquette-titre {
        font-size: 1.5vh;
    }

    .m-section-introduction {
        height: 60vh;
    }

    .m-textehaut-introduction {
        font-size: 2vh;
        width: 80%;
        text-align: center;
    }

    .m-cadre-introduction {
        height: 20vh;
        width: 80%;
    }

    .m-textecadre-introduction {
        font-size: 2.5vh;
    }

    .m-textebas-introduction {
        font-size: 1.75vh;
        width: 80%;

    }

    .m-boutton-introduction {
        width: 80%;
        height: 6vh;
        font-size: 1.75vh;
    }

    .m-soussection-introduction {
        height: 50vh;
        top: 3vh;
    }

    .m-section-details {
        height: 165vh;
    }

    .m-sectionhaut-details {
        top: 3vh;
        height: 30vh;
    }

    .m-image-details {
        height: 10vh;
    }

    .m-titre-details {
        font-size: 2vh;
    }

    .m-description-details {
        font-size: 1.5vh;
    }

    .m-points-details {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        top: 36vh;
        width: 90%;
        left: 5%;
        gap: 5vh;
    }

    .m-point-details {
        width: 100%;
        gap: 5vh;
    }

    .m-titrepoint-details {
        font-size: 1.75vh;
    }

    .m-textepoint-details {
        font-size: 1.5vh;
    }

    .m-imagepoint-details {
        width: 4vh;
        height: 4vh;
        margin-bottom: 8vh;
        margin-right: 2vw;
    }

    .m-bouttons-details {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        top: 140vh;
        gap: 2vh;
        width: 100%;
        left: 0%;
    }

    .m-section-endorsements {
        height: 145vh;
    }

    .m-soussection-endorsements {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        top: 25vh;
        gap: 5vh;
    }

    .m-conteneur-endorsements {
        width: 90%;
        height: 40vh;
        gap: unset;
    }

    .m-image-endorsements {
        height: 20vh;
        border: 1vh solid white;
    }

    .m-titre-endorsements {
        font-size: 2vh;
    }

    .m-texte-endorsements {
        font-size: 1.5vh;
    }

    .m-boutton-endorsements {
        width: 100%;
        height: 6vh;
        font-size: 1.5vh;
    }

    .m-sectionhaut-rest {
        height: 25vh;
        border: unset;
        top: 0vh;
    }

    .m-titre-rest {
        font-size: 2.5vh;
    }

    .m-description-rest {
        font-size: 1.75vh;
        width: 100%;
    }

    .m-sectionbas-rest {
        top: 25vh;
        height: 50vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    .m-inputs-rest {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 1.5vh;
    }

    .m-form-rest {
        width: 100%;
        gap: 1.5vh;
    }

    .m-inputname-rest {
        width: 100%;
        height: 4vh;
    }

    .m-inputemail-rest {
        width: 100%;
        height: 4vh;
    }

    .m-bouttons-rest {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
    }

    .m-boutton-rest {
        width: 100%;
        font-size: 1.75vh;
    }

    .m-contact-rest {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}